#navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #192655;
    min-height: 5vh;
    overflow: hidden;
}

#navbar a {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
    font-size: 2vh;
}
.circle{
    width: 60px;
    height: 60px;
    -webkit-border-radius:30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #E1AA74;
    text-align: center;
    transition: transform .2s;
}
.circle:hover{
    transform: scale(1.15);
}
#img-center1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
}
#img-center2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-top: 10px;
}
#img-center3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
#img-center4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
#img-center5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
#home{
    background-color: #7ba4d3;
    width: 100px;
}
#special{
    display:flex;
    padding-left: 45vw;
}